{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Scores</title>
        <link href="{% static 'css/startbooking.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" />
      </head>
<body class="y">

    <body>
        <div class="navbar">
            <nav>
                <ul id='MenuItems'>
                    <li>{{user.username}}</li>
                </ul>
            </nav>
        </div>
        <center>
            <br>
            

                <br>
                <h1 style="text-align:center; color:white";>Start Booking!!</h1>
                <br><br>
                <div class="grid" >
                    {% for p in mat %}
                    {% if p.date > curdate %}
                  <div class="grid-item"  style="background-color: rgba(73, 119, 168, 0.295); color:white;">
                    <div class="card">
                     
                      <div class="card-content" style=" color:white;">
                       
                          <p class="card-text" style=" color:white;">
                            Book Mathematics slots here!!
                          </p>
                          <p class="card-text" style="color:white">
                            Class: {{p.classno}}<br>
                            Slot: {{p.slotno}}<br>
                            Date: {{p.date}}<br>
                            Time: {{p.time}}<br>
                           </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if p.date == curdate and curtime < p.time %}
                  <div class="grid-item"  style="background-color: rgba(73, 119, 168, 0.295); color:white;">
                    <div class="card">
                     
                      <div class="card-content" style=" color:white;">
                       
                          <p class="card-text" style=" color:white;">
                            Book Mathematics slots here!!
                          </p>
                          <p class="card-text" style="color:white">
                            Class: {{p.classno}}<br>
                            Slot: {{p.slotno}}<br>
                            Date: {{p.date}}<br>
                            Time: {{p.time}}<br>
                           </p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                
           
                  <br>
                  <br>
                 <form method="POST" action="bookmat">
                   {% csrf_token %}
                  <input type="number" placeholder="classno" name="classno">
                  <br>
                  <br>
                  <input type="number" placeholder="slotno" name="slotno">
                  <br>
                  <br>
                  <input type="text" placeholder="name" name="name">
                  <br>
                  <br>
                   <input type="submit" value="Book now">
                 </form>
                </center>
                  <br>
                  <br>
                  <br>
            </div>
        </div>
    </div>

    


</body>
</html>
